<!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
<title>Huawei ChatBot</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
  .container {
    max-width: 1170px;
    margin: auto;
  }

  img {
    max-width: 100%;
  }

  .inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
  }

  .top_spac {
    margin: 20px 0 0;
  }


  .incoming_msg_img {
    display: inline-block;
    float: right;
    width: 4%;


  }

  .incoming_msg_img1 {
    display: inline-block;
    width: 4%;


  }

  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
  }

  .received_withd_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }

  .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
  }

  .received_withd_msg {
    width: 57%;
  }

  .mesgs {
    padding: 30px 15px 0 25px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .sent_msg p {
    background: #d2cbcb none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0px;
    color: #646464;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }

  .outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
  }

  .sent_msg {
    margin-right: 10px;
    float: right;
    width: 46%;
  }

  .input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
  }

  .type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
  }

  .msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
  }

  .messaging {
    padding: 0 0 50px 0;
  }

  .msg_history {
    height: 516px;
    overflow-y: auto;
  }
</style>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>


<div class="container">
  <h3 class=" text-center">E-Learning Chatbot</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="mesgs">


        <div class="msg_history">
          <div class="outgoing_msg">
            <div class="incoming_msg_img"><img
              src="https://e7.pngegg.com/pngimages/498/917/png-clipart-computer-icons-desktop-chatbot-icon-blue-angle-thumbnail.png"
              alt="sunil"></div>
            <div class="sent_msg">
              <p>please ask a question</p>
              <span class="time_date">{{ curentdate |date: 'hh:mm'}}</span>
            </div>

          </div>

          <div *ngFor="let element of dataSource; let index = index;">
            <div class="incoming_msg">
              <div class="incoming_msg_img1"><img src="https://i.dlpng.com/static/png/6342390_preview.png" alt="sunil">
              </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>{{element.qst}}</p>
                  <span class="time_date">{{element.date| date: 'hh:mm'}} </span></div>
              </div>
            </div>


            <div class="outgoing_msg">
              <div class="incoming_msg_img"><img
                src="https://e7.pngegg.com/pngimages/498/917/png-clipart-computer-icons-desktop-chatbot-icon-blue-angle-thumbnail.png"
                alt="sunil"></div>
              <div class="sent_msg">

                <p>{{element.rep}}</p>
                <span class="time_date"> {{element.date| date: 'hh:mm'}}</span>
              </div>

            </div>

          </div>


        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" [(ngModel)]="qest" class="write_msg" placeholder="Type a message" name="userInput"/>
            <button [disabled]="qest===''" (click)="repondre()" class="msg_send_btn" type="button"><i
              class="fa fa-send"></i></button>
          </div>
        </div>
      </div>
    </div>


    <script type="text/javascript">

    </script>

